@import url('https://fonts.googleapis.com/css2?family=Bayon&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
margin: 0;
font-family: "Roboto Mono", serif;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(14,15,128,1) 31%, rgba(0,126,255,1) 100%);
    color: white; 
}

h2{
    font-size: 40px;
    margin-bottom: 10px;
    
}

h5{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.74);
}

.logo{
    font-family: Bayon;
    font-size:25px;
    color: #2a2a9bc2;
    font-weight: 600;
    display: flex;
    gap: 10px;
}

nav {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    color: rgb(32, 34, 57);
}

footer{
    display: flex;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    color: rgb(32, 34, 57);
    gap: 10px;
    align-items: center;
}

.title{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
    color: rgba(255,255,255,0.9);
    width: 100%;
}

.container{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.box{
    width:250px;
    height: 280px;
    background-color: rgba(253, 253, 253, 0.9);
    box-shadow: rgb(43, 43, 43) 3px 3px 10px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.box img{
    width: 120px;
    height:auto;
    object-fit: contain;
}

.box .description{
    font-size: 18px;
    color: rgba(32, 34, 57, 0.9);
    text-align: center;

}
.box:hover{
    background-color: white;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.637);
    border: 4px solid  #F194FF;
    transform: scale(1.1);
}

.btn-container{
    display: flex;
    justify-content: center;
}

.showMore-btn {
    background-color: transparent;
    border: 2px solid #F194FF;
    color: #F194FF;
    padding: 10px 50px;
    margin-top: 20px;
}

.showMore-btn:hover{
    cursor: pointer;
    background-color: #F194FF;
    color: white; 
}

.search-box{
    width: 220px;
    height: 20px;
    background-color: rgba(202, 202, 202, 0.5);
    border-radius: 15px;
    padding: 5px 10px;
    border: none;
}

.main {
    position: relative;
    z-index: 2; 
    padding: 0 20px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 90px;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
#particles {
    position: relative;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container{
    display: flex;
    align-items: center;
    gap: 10px;
}


#menu-icon {
    width: 25px;
    padding: 5px;
    border-radius: 3px;
}

#menu-icon:hover{
    background-color: #2022392a;
}

.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 49px;
    right: -23px; 
    background-color: #ffffff;
    min-width: 150px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 10;
    
}

.dropdown-content a {
    color: #574949;
    padding: 10px 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.social-media{
    display: flex;
    align-items: center;
    gap: 10px;
}

.social-media img{
    width: 30px;
}
